*
{
    padding: 0;
    margin: 0;
}
html 
{
    box-sizing: border-box;
}
*,
    *::before,
        *::after 
{
    box-sizing: inherit;
}
body
{
    font-family: Arial, Helvetica, sans-serif;
    margin: 1rem 2rem;
}

.list
{
    list-style-type: none;
}
.list-item
{
    display: inline-block;
    margin: 1rem 2rem;
}
.link:link, .link:visited
{
    display: inline-block;
    background-color: #448AFF;
    color: white;
    border: .15rem solid #2962FF;
    text-decoration: none;
    text-align: center;
    padding: 1rem 1.5rem;
    min-width: 11rem;
}
.link:hover, .link:active
{
    background-color: #2962FF;
    font-weight: bold;
    border: .15rem solid #448AFF;
    transition: all 1s;
}