/* Website default style */
*
{
    padding: 0;
    margin: 0;
}
html 
{
    box-sizing: border-box;
}
*, *::before, *::after 
{
    box-sizing: inherit;
}

/* Pages style */
.container
{
    width: 70%;
    margin: 1rem auto;
}
.row
{
    display: flex;
    flex-flow: row wrap;
}
.col
{
    display: flex;
    flex-flow: column wrap;
    flex: 1 0 35%;
}
.col-7
{
    min-width: 500px;
    display: flex;
    flex-flow: column wrap;
    flex: 2 1 50%;
}
.col-3
{
    display: flex;
    flex-flow: column wrap;
    flex: 1 1 20%;
}

/* Typography */ 
.title
{
    margin-bottom: 1rem;
    font-size: 3rem;
    font-family: "Arial Black", Arial, sans-serif;
    text-align: center;
}
.sub-title
{
    margin: 1rem 2rem;
    font-size: 2rem;
    font-family: Arial, Helvetica, sans-serif;
}
.text
{
    font-family: Verdana, Arial, sans-serif;
    font-size: 1rem;
    line-height: 1.75rem;
    text-indent: 2rem;
    text-align: justify;
    margin-bottom: 0.5rem;
}

/* Components */
.list-group
{
    margin-left: 3rem;
    list-style-position: inside;
}
.list-group-item
{
    margin: 1rem;
    text-indent: 0;
    text-align: left;
}
.list
{
    list-style-type: none;
    display: flex;
    flex-flow: row wrap;
}
.list-item
{
    margin: 1rem 2rem;
}
.link:link, .link:visited
{
    display: inline-block;
    background-color: #448AFF;
    color: white;
    border: .15rem solid #2962FF;
    text-decoration: none;
    text-align: center;
    padding: 1rem 1.5rem;
    min-width: 11rem;
}
.link:hover, .link:active
{
    background-color: #2962FF;
    font-weight: bold;
    border: 0.15rem solid #448AFF;
    transition: all 1s;
}
.img-fluid
{
    max-width: 100%;
    height: auto;
}